.vscode/*
# Make sure the workspace dictionary still remains
!.vscode/spellright.dict
# Keep code snippets around too
!.vscode/snippets.code-snippets

# Can't include tivaware libs in here due to license agreement
tivaware

# Don't push build files
!./build
builds
build

# Ignore session keys
**/*.pkl